* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0;
    padding: 0.5em;
    background: #222 url(images/halie-west.jpg);
}

.body-container {
    font-family: inherit;
    font-size: 100%;
    width: 400px;
}

